<a class="button" ui-sref="application.todos.single">
    Create
</a>
<h1 ng-show="todosList.isLoading">View is syncing</h1>
<ul class="todos">
    <li ng-repeat="todo in todosList.todos track by todo._id">
        <input type="checkbox"
               ng-model="todo.completed"
               ng-change="todosList.updateTodo(todo)"/>
        <p ng-show="todo.isSyncing">
            is syncing? {{todo.isSyncing}}
        </p>
        <a ui-sref="application.todos.single({'id': todo._id})">
            {{todo.title}}
        </a>
        <button class="alert" ng-click="todosList.deleteTodo(todo)">
            Delete
        </button>
    </li>
</ul>